<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Z传</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.photography</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>用于连接 Nikon GPS 设备</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>用于连接相机</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>用于向相机写入拍摄位置</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>用于保存工作台生成的效果图</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>用于读取工作台照片</string>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/great_vibes_regular.ttf</string>
		<string>Fonts/bebas_neue_regular.ttf</string>
		<string>Fonts/cormorant_garamond_medium_italic.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
